.About img{
 height: 300px;
}

body {
    background-color: rgb(102, 134, 146);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.img{
      height: 300px;
      /* padding-left: 10px; */
  }

  #projects{
      background-color: lightgray;
  }

  #work{
      text-align: center;
  }


.page-footerp{
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0vw;
    height: 50px;
    clear: both;
    padding-top: 10px;
    
}

.section{
    padding: 20px;
}

.carousel{
    width: 80%;
    margin: 0px;
}

#display{
    padding-left: 20px;
}
