.About img{
 height: 300px;
}

.nav-wrapper{
    
    
}

#bio{
    border-block-color: black;
}

body {
    background-color: rgb(102, 134, 146);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .img{
      height: 250px;
      padding-left: 10px;
  }
