.About img{
 height: 300px;
}


body {
    background-color: rgb(102, 134, 146);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .img{
      height: 300px;
      padding-left: 10px;
  }

  #work{
      
  }

.page-footerp{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0vw;
    height: 50px;
    clear: both;
    
}
